<a href="/cases" class="menu-el js-el">
	<div class="el-hover">
		<div class="vertical-center">
			<div class="vertical-el">
				<div class="overflow">
					<span class="sub">
						<span class="word">Cases</span>
					</span>
				</div>
				<p>We like to let our work do the talking.</p>
				<span class="link no-hover">Go to Cases</span>
			</div>
		</div>
	</div>
	<div class="el-bg js-bg">
		<span class="title js-span">Cases</span>
	</div>
</a>
<a href="/about" class="menu-el js-el">
	<div class="el-hover">
		<div class="vertical-center">
			<div class="vertical-el">
				<div class="overflow">
					<span class="sub">
						<span class="word">About</span>
					</span>
				</div>
				<p>We are a branding agency specialised in
					<span style="white-space: nowrap;">e-commerce</span>.</p>
				<span class="link no-hover">Go to About</span>
			</div>
		</div>
	</div>
	<div class="el-bg js-bg">
		<span class="title js-span">About</span>
	</div>
</a>
<a href="/contact" class="menu-el js-el">
	<div class="el-hover">
		<div class="vertical-center">
			<div class="vertical-el">
				<div class="overflow">
					<span class="sub">
						<span class="word">Contact</span>
					</span>
				</div>
				<p>
					Rombout Hogerbeetsstraat 109-1
					<br> 1052 VW Amsterdam
					<br> The Netherlands
				</p>
				<span class="link no-hover">Go to Contact</span>
			</div>
		</div>
	</div>
	<div class="el-bg js-bg">
		<span class="title js-span">Contact</span>
	</div>
</a>